<!DOCTYPE html>
<html ng-app="shuffling" ng-cloak>

  <head>
    <meta charset="utf-8" />
    <title>Shuffling Pines</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="vendors.js"></script>
    <script src="app.js"></script>
    <!-- I found this shim online for making input type='date' work in Firefox -->
    <!-- It is not my own work -->
    <!-- http://stackoverflow.com/questions/22983013/how-to-get-html-5-input-type-date-working-in-firefox-and-or-ie-10 -->
    <script src="http://cdn.jsdelivr.net/webshim/1.12.4/extras/modernizr-custom.js"></script>
    <!-- polyfiller file to detect and load polyfills -->
    <script src="http://cdn.jsdelivr.net/webshim/1.12.4/polyfiller.js"></script>
    <script>
      webshims.setOptions('waitReady', false);
      webshims.setOptions('forms-ext', {types: 'date'});
      webshims.polyfill('forms forms-ext');
    </script>
  </head>

  <body ng-controller="TabController as vm">
    <h1>Shuffling Pines</h1>
    <div class="row">
      <div class="col-md-12">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" ng-click="vm.setTab(1)" ng-class="{'active':vm.checkTab(1)}"><a href="#form" aria-controls="form" role="tab" data-toggle="tab">Form</a></li>
          <li role="presentation" ng-click="vm.setTab(2)" ng-class="{'active':vm.checkTab(2)}"><a href="#guests" aria-controls="guests" role="tab" data-toggle="tab">Guests</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <!-- Tab pane 1 -->
          <div role="tabpanel" class="tab-pane active" id="form" ng-show="vm.checkTab(1)">
            <div ng-controller="FormController as vm">
              <form name="vm.form" class="col-md-6 well" ng-submit="vm.submit()">
                <div class="form-group">
                  <label for="guest-name">Guest Name</label>
                  <input type="text" ng-model="vm.name" class="form-control" id="guest-name" placeholder="Enter Guest Name">
                </div>
                <div class="form-group">
                  <label for="transition-date">Transition Date</label>
                  <input type="date" class="form-control" ng-model="vm.transition_date" id="transition-date" placeholder="Enter Transition Date">
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" ng-model="vm.transportation" id="pickup" value="pick up">
                    Pick-up
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" ng-model="vm.transportation" id="dropoff" value="drop off">
                    Drop-off
                  </label>
                </div>
                <div class="form-group" ng-show="vm.checkTransportation('pick up')">
                  <label for="location">Location</label>
                  <textarea class="form-control" ng-model="vm.location" id="location" placeholder="Enter Pick-up Location"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>

              <!-- bound display -->
              <div class="col-md-6 well">
                <div ng-hide="vm.checkName(null)" class="form-group">
                  <label>Name: </label>
                  {{vm.name}}
                </div>
                <div ng-hide="vm.checkDate(null)" class="form-group">
                  <label>Transition Date: </label>
                  {{vm.transition_date | date:'MM/dd/yyyy'}}
                </div>
                <div ng-hide="vm.checkTransportation(null)" class="form-group">
                  <label>Status: </label>
                  {{vm.transportation}}
                </div>
                <div ng-hide="vm.checkLocation(null)" class="form-group">
                  <label>Pickup Location: </label>
                  {{vm.location}}
                </div>
              </div>
            </div>
          </div>

          <!-- Tab pane 2 -->
          <div ng-show="vm.checkTab(2)" style="margin-bottom:50px;margin-left:20px">
            <div role="tabpanel" class="tab-pane" id="guests" ng-controller="PatientListController as vm">
              <br/>
              <div ng-repeat="patient in vm.getPatients()" class="well">
                <form name="vm.form" ng-submit="vm.submit()">
                  <div class="form-group">
                    <label for="tab2-guest-name">Guest Name</label>
                    <input type="text" ng-model="patient.name" class="form-control" id="tab2-guest-name" placeholder="Enter Guest Name">
                  </div>
                  <div class="form-group">
                    <label for="tab2-transition-date">Transition Date</label><br/>
                    Current Transition Date: {{patient.date | date:'MM/dd/yyyy'}}
                    <input type="date" class="form-control" ng-model="vm.date" id="tab2-transition-date" placeholder="Enter New Transition Date">
                  </div>
                  <div class="form-group">
                    <label for="tab2-status">Status:</label> <select id="tab2-status" ng-model="patient.transportation"
                                                   ng-options="value for value in vm.getOptions(patient.transportation)"></select>
                  </div>
                  <div class="form-group" ng-show="vm.checkLocation(patient.transportation)">
                    <label for="tab2-location">Location</label>
                    <textarea class="form-control" ng-model="patient.location" id="tab2-location" placeholder="Enter Pick-up Location"></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit Changes</button>
                  <button id="delete" class="btn btn-danger" ng-click="vm.delete(patient)">Delete</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
